{%- assign first_variant = product.variants.first -%}
<a 
  href="/cart/add?id={{ first_variant.id }}&quantity=1" 
  class="banner-product__add-to-cart"
  role="button"
>
  {{ 'products.product.banner.add_to_bag' | t }}
</a>

