<div class="footer__bottom">
  <small class="footer__copyright">
    &copy; {{ 'now' | date: '%Y' }} {{ shop.name | escape }}. 
    {{ 'footer.copyright' | t: default: 'All rights reserved.' }}
  </small>
</div>
