{{ 'footer.css' | asset_url | stylesheet_tag }}

<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="footer__top">
      {%- render 'footer-brand' -%}
      {%- render 'footer-links' -%}
      {%- render 'footer-info' -%}
    </div>
    {%- render 'footer-bottom' -%}
  </div>
</footer>
