{{ 'header.css' | asset_url | stylesheet_tag }}

<header class="header" role="banner">
  <div class="container">
  <div class="header__wrapper">
    {%- render 'logo' -%}
    {%- render 'nav-main' -%}
    {%- render 'header-actions' -%}
  </div>
</div>
</header>